<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="pixel-me">
        <img src="https://i.ibb.co/WDr2tNH/me-pixels.png" id="my-head" alt="my head in pixel form">
      </div>
      <div class="thats-me">
        <p style="font-size:200px;">←</p>
        <p style="margin-top:-200px;">That's me</p>
      </div>

  </body>
</html>
