<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play game</title>
  </head>
  <body>
    <body class="game-play">
      <img src="https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif" alt="space gif" id="space-gif2">
      <div class="first1">
        <div class="text1">
          <p id="message1" class="show">Think you got what it takes?</p>
        </div>
      </div>
      <div class="first2">

      </div>
      <div class="space"></div>
    </body>
</html>
