<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif" alt="space gif" id="space-gif2">
    <div class="first1">
      <div class="text1">
        <p id="message2" class="show">Alright <%=@user.name%>, let's set some expectations...</p>
      </div>
    </div>

    <div class="game_board_form" id="game_board_form">
      <form class="game_board_form" action="/setup" method="get">
        <input type="text" name="user_name" placeholder="<%=@user.name%>" id="user_name_board" readonly><br>
        <input type="number" name="number_of_ships" value="1"><br>
        <select class="computer_difficulty" name="difficulty"><br>
          <option value="easy">Easy</option>
          <option value="hard">Saucy</option>
        </select>
        <button type="submit" id="start">Let's go!</button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </body>
</html>
