<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="first_message">
      <p>Alright <%=@user.name%>, let's set some expectations...</p>
    </div>
  </body>
</html>
