<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
  </head>
  <body class="home_page">
    <div class="title">
      <p>Time to play</p>
      <p>BattleShip!</p>
      <form class="play-game" action="/game" method="get">
        <button type="submit" id="play-button"><p>Play<b class="exclaim">!</b></p></button>
      </form>
      <form class="game-rules" action="/rules" method="get">
        <button type="submit" id="rules-button"><p>Da Rulez</p></button>
      </form>
    </div>
  <div class="snowflakes">
    <div class="laser-light">
    _
    </div>
    <div class="laser-light">
      _
    </div>
    <div class="laser-light2">
      _
    </div>
    <div class="laser-light3">
      _
    </div>
    <div class="laser-light4">
      /
    </div>
    <div class="laser-light5">
      \
    </div>
    <div class="laser-light6">
      /
    </div>
  </div>
  <a href="/about">About</a>
  </body>
</html>
