<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
  </head>
  <body>
    <div class="home_page">
      <img src="https://media.giphy.com/media/XcfF50INFmNBXoLBg4/giphy.gif" alt="space gif" id="space-gif">
      <a href="/about">About</a>
      <div class="title">
        <p>Time to play</p>
        <p>BattleShip!</p>
        <div class="game-div">
          <button type="text" id="play-button" class="first-play-button"><p>Play<b class="exclaim">!</b></p></button>
            <div class="content">
              <form class="number_of_ships_form" action="/setup" method="get">
                <label for="how_many_ships" id="label_number_ships">How many ships?</label><br>
                <input type="number" name="how_many_ships" id="how_many_ships_input" value="1" min="1" max="5"><br>
                <button type="submit" id="lets-play-button">Let's play</button>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              </form>
            </div>
        </div>

        <div class="rules">
          <form class="game-rules" action="/rules" method="get">
            <button type="submit" id="rules-button"><p>Da Rulez</p></button>
          </form>
        </div>
        <img src="https://media.giphy.com/media/ujT9i760y3eeRwUokk/giphy.gif" id="army-tank-gif" alt="army tank battle gif">
      </div>
    </div>
  </body>
</html>
