.pixel-me {
  margin-top: 100px;
  width: 260px;
  height: 310px;
  /* border: solid 1px; */
  overflow: hidden;
  margin-left: 35%;
  transform: translateX(-300%);
  animation: come-in 2.85s ease forwards;
}

.thats-me {
  margin-top: -200px;
  margin-left: 55%;
  transform: translateX(300%);
  animation: come-in 6.5s ease forwards;
}

.thats-me p {
  font-size: 70px;
  font-family: 'Press Start 2P'
}

#my-head {
  width: 1400%;
  margin-left: -400px;
  margin-top: -360px;
}

@keyframes come-in {
  to { transform: translateX(0); }
}
