.pixel-me {
  margin-top: 100px;
  width: 260px;
  height: 310px;
  /* border: solid 1px; */
  overflow: hidden;
  margin-left: 35%;
  transform: translateX(-300%);
  animation: come-in 2.75s ease forwards;
}

#my-head {
  width: 1400%;
  margin-left: -400px;
  margin-top: -360px;
}

@keyframes come-in {
  to { transform: translateX(0); }
}
