@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@media only screen and (max-width: 1130px) {
  body {

  }

  a {
    position: fixed;
    color: white;
  }

  #space-gif {
    margin-top: -22px;
    position: absolute;
    width: 100%;
  }

  .home_page {
    margin-left: -8px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }

  .title p {
    margin-top: 50px;
    font-size: 25px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    outline: none;
    animation:
      typing 3.5s steps(30, end);

  }

  .title {
    margin-left: 8%;
    margin-top: 100px;
    width: 400px;
    height: 450px;
    position: absolute;
    z-index: 999;
    color: white;
    background-color: rgb(182, 175, 176);
    font-size: 200px;
    border-radius: 2px;
    border: solid green 4px;
  }

  .play-game {
    margin-top: -105px;
    margin-left: 118px;
  }

  .game-rules {
    margin-top: -100px;
    margin-left: 85px;
  }

  .game-rules p {
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .play-game p {
    margin-top: 25px;
  }

  #play-button {
    width: 140px;
    height: 80px;
  }

  .exclaim {
    animation-name: blink;
    animation-duration: .75s;
    animation-iteration-count: infinite;
  }

  @keyframes blink {
    from { color: green }
    to { color: rgba(0, 111, 41, 0.2) }
  }
}
