@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@media only screen and (max-width: 1130px) {
  body {

  }

  a {
    margin-left: 20px;
    position: fixed;
    color: white;
    font-size: 30px;
  }

  #space-gif {
    margin-top: -22px;
    position: absolute;
    width: 100%;
    height: 110%;
  }

  .home_page {
    margin-left: -8px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }

  .title p {
    margin-top: 50px;
    font-size: 45px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    outline: none;
    animation:
      typing 3.5s steps(30, end);

  }

  .title {
    margin-left: 125px;
    margin-top: 100px;
    width: 75%;
    height: 60%;
    position: absolute;
    z-index: 999;
    color: white;
    background-color: rgb(182, 175, 176);
    font-size: 200px;
    border-radius: 2px;
    border: solid green 4px;
  }

  .play-game {
    margin-top: -90px;
    margin-left: 33%;
  }

  .game-rules {
    margin-top: -50px;
    margin-left: 18%;
  }

  .game-rules p {
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .play-game p {
    margin-top: 25px;
  }


  #play-button {
    width: 55%;
    height: 100px;
  }

  #rules-button {
    height: 105px;
    width: 80%;
  }

  .exclaim {
    animation-name: blink;
    animation-duration: .75s;
    animation-iteration-count: infinite;
  }

  @keyframes blink {
    from { color: green }
    to { color: rgba(0, 111, 41, 0.2) }
  }

  #army-tank-gif {
    margin-top: -25px;
    width: 310px;
    margin-left: 30%;
  }
}
